<a href="https://colab.research.google.com/github/kchawale/practicebook-13-9/blob/main/practice_notebook_13_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#formattimg way 1
a=10
b=20
c=90
print('i got {} marks in maths ,  {} marks in history and {} marks in english .'.format(a,b,c))

i got 10 marks in maths ,  20 marks in history and 90 marks in english .

In [ ]:
#formatting way 2
a=10
b=20
c=90
print(f'i got {a} marks in maths ,{b} marks in history and {c} marks in english .')

i got 10 marks in maths ,20 marks in history and 90 marks in english .

In [1]:
#Elements of given list present on odd position
a= [1, 2, 3, 4, 5];     
print("Elements of given array present on odd position: ");       
for i in range(0, len(a), 2):    
    print(a[i]);

Elements of given array present on odd position:
1
3
5

In [2]:
#print list in revrse order using for loop
a=['kiran', 'madhu', 'shubham']
for i in range(0, len(a)):    
    print(a[i]),     
print("list in reverse order: ")    
for i in range(len(a)-1, -1, -1):     
    print(a[i], end =" "),

kiran
madhu
shubham
list in reverse order:
shubham madhu kiran

In [3]:
# display numbers from -10 to -1 using for 

for i in range (-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [5]:
#program to display all prime numbers within range
a = 1
b = 100

print("Prime numbers between", a, "and", b, "are:")

for num in range (a, b + 1):
   
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num, end=" ")

Prime numbers between 1 and 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [6]:
#program to display elements present at odd index position
a= [1, 2, 3, 4, 5];     
print("Elements of given array present on odd position: ");       
for i in range(0, len(a), 2):    
    print(a[i]);

Elements of given array present on odd position:
1
3
5

In [7]:
#find the factorial of givdn numbers, n,n-1,n-2,n-3
num = int(input("Enter a number: "))

factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

In [20]:
#reverse a given integer number (n= 45736382)
n=45736382
print(str(n)[::-1])

28363754

In [21]:
#calculate the cube of all numbers from 1 to given numbers (n=10)
l = [1, 2, 3, 4,5,6,7,8,9,10]
res = []
for i in l:
    res.append(i*i*i)
print(res)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [27]:
#find the sum of series upto n terms
n = int(input("Enter value of n: "))

sum = n*(n+1)*(2*n+4)/12
print(sum)

Enter value of n: 5
35.0

In [28]:
#convert two list into dictionary
a_keys = ["krisha", "Kiran", "Varsha"]
b_values = [1, 4, 5]
print ("Original key list is : " + str(a_keys))
print ("Original value list is : " + str(b_values))

Original key list is : ['krisha', 'Kiran', 'Varsha']
Original value list is : [1, 4, 5]

In [33]:
#merge two python dictionary into one
def Merge(d, d2):
    return(d2.update(d1))
 
d1 = {'a': 10, 'b': 8}
d2 = {'d': 6, 'c': 4}
print(Merge(d1, d2))
print(d2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [34]:
#create a dict by extracting the keys from a given dict
dict = {1: 'Geeks', 2: 'for', 3: 'geeks'}
print(dict.keys())

dict_keys([1, 2, 3])

In [35]:
#remove and add item in a list
list = ['Cake', 'Pizza', 'Juice', 'Pasta', 'Burger']
list.remove('Juice')
print(list)

['Cake', 'Pizza', 'Pasta', 'Burger']

In [42]:
list = ['Cake', 'Pizza', 'Juice', 'Pasta', 'Burger']
list.append('banana,')
print(list)

['Cake', 'Pizza', 'Juice', 'Pasta', 'Burger', 'banana,']

In [43]:
#unpack the tuple into 4 variable
a = ("MNNIT Allahabad", 5000, "Engineering") 
 
# this lines UNPACKS values
# of variable a
(college, student, type_ofcollege) = a 
 
# print college name
print(college)
 
# print no of student
print(student)
 
# print type of college
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [44]:
##unpack the tuple into 4 variable
fruits = ("apple", "banana", "cherry", "grapes")

(green, yellow, red, black) = fruits

print(green)
print(yellow)
print(red)
print(black)

apple
banana
cherry
grapes

In [46]:
#swap two tuples in python
tup_1 = ('hello', 'world')
tup_2 = (1, 2, 3)
print (tup_1, tup_2)
tup_1, tup_2 = tup_2, tup_1
print (tup_1, tup_2)

('hello', 'world') (1, 2, 3)
(1, 2, 3) ('hello', 'world')

In [47]:
#copy specific element from one tuple to another tuple
t1 = (10,20,30,40,50,60,70,80,90,100)
t2 = t1[2:8]
print(t2)

(30, 40, 50, 60, 70, 80)

In [48]:
#sort a tuple of tuples by 2nd item
tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)
<class 'tuple'>

In [49]:
#count the number of occurrencec of item 50 from a tuple
tuple1 = (10, 8, 50, 2, 10, 15, 10, 50, 50, 8, 8, 2)
x = [i for i in tuple1 if i == 50]
print("the element 50 occures", len(x), "times")

the element 50 occures 3 times

In [50]:
#print this pattern 
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*